# Virtual Environment
venv/
.venv/
env/
ENV/

# Flask instance folder
instance/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.db

# VS Code settings
.vscode/

# Environment variables
.env